<ion-header [translucent]="true">
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let p of pictures">
    <ion-card-content>
      <ion-img [src]="p.url">

      </ion-img>
    </ion-card-content>
  </ion-card>
  <div class="mb-5">
    <ion-card>
      <ion-card-content class="text-center padding-bottom">
        <a class="text-center">Videojuegos hasta el 20% de descuento <ion-icon name="chevron-forward-outline">
          </ion-icon></a>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-slides [options]="slideOpts" style="height: 30%;">
    <ion-slide *ngFor="let purse of purses">
      <ion-img [src]="purse.url"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-card *ngFor="let p of pictures2">
    <ion-card-content>
      <ion-img [src]="p.url">
      </ion-img>
    </ion-card-content>
  </ion-card>
  <div class="mb-5">
    <ion-card>
      <ion-card-content class="text-center padding-bottom">
        <a class="text-center">Audifonos hasta el 20% de descuento <ion-icon name="chevron-forward-outline">
          </ion-icon></a>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-slides [options]="slideOpts" >
    <ion-slide *ngFor="let purse of purses2">
      <ion-img [src]="purse.url"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-card *ngFor="let p of pictures3">
    <ion-card-content>
      <ion-img [src]="p.url">
      </ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>