.text-center {
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: black;
}
.padding-bottom {
    padding-bottom: 10px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

ion-slides {
    height: 30%;
}